<%- include("partials/header") -%>

</style>
</head>

<body style="background-image: url(../images/complainer_page.jpg);">


 <section id="title">
 <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">

   <!-- Nav Bar -->
   <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;padding: 0;">
     <a class="navbar-brand" href="">
     <img src="../images/home_page_logo.png" alt="logo" width="180px" class="img-fluid">
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 15px;">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
   <ul class="navbar-nav ms-auto nav-pills">
     <li class="nav-item">
         <a class="nav-link" href="/">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="complainer_page">Log New Complain</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="complainer_complain_history">Complaint History</a>
     </li>
     <li class="nav-item">
       <a class="nav-link active" href="#">Complain Details</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="logout">Logout &nbsp <i class="fa fa-sign-out" aria-hidden="true"></i></a>
     </li>
   </ul>
 </div>
 </nav>

 </div>
 </section>


 <div style="padding:50px;margin-top:10px;">
     <table class="table table-bordered">
     <thead class="thead-dark" style="background-color: black; color: white;">
         <tr>
             <th scope="col">Complain Id</th>
             <th scope="col">Description</th>
             <th scope="col">Police Status</th>
             <th scope="col">Final Report</th>
         </tr>
     </thead>
      <tbody style="background-color: white; color: black;">
       <tr>
         <td><%= complainNumber %></td>
         <td><%= complainDescription %></td>
         <td><%= policeId %></td>
         <td><%= finalReport %></td>
       </tr>
      </tbody>
     </table>
 </div>

 <div style="padding:50px; margin-top:8px;">
     <table class="table table-bordered">
        <thead class="thead-dark" style="background-color: black; color: white;">
            <tr>
                 <th scope="col">Date Of Update</th>
                 <th scope="col">Case Update</th>
            </tr>
        </thead>
     <?php
         while($rows1=mysqli_fetch_assoc($res2)){
      ?>
         <tbody style="background-color: white; color: black;">
         <tr>
             <td><%= updateDate %></td>
             <td><%= update %></td>
         </tr>
         </tbody>
     <?php
         }
     ?>

     </table>
 </div>

<%- include("partials/footer") -%>
